button {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;
}

button:hover {
    background-color: #11445e;
    border-color: #2488ba;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}